.page-switcher--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.page-switcher {
    background-color: #f4f4f5;
    height: 35px;
    border-radius: 25px;
    display: flex;
    align-items: normal;
    justify-content: space-evenly;
    width: 80vw;
    margin-top: 40px;
}

@media (min-width: 720px) {
    .page-switcher {
        width: 55vw;
        margin-top: 70px;
    }
}
