.toggle-button {
    color: #71717a;
    width: 50%;
    font-size: 14px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out;
}

.toggle-button--enabled {
    background-color: #606060;
    color: white;
}
